{% extends 'base.html.twig' %}

{% block title %}Hey, you need to register !{% endblock %}

{% block body %}
    <h1>There is something big comming ...</h1>
    <button type="button" class="btn btn-info">comming soon</button>
{% endblock %}
